@import './reset.css';

body{
    background-color: black;
    color:white;
    margin-top: 80px;
}

@media screen and (min-width : 1024px) {
    body{
        
    width:1024px;
    margin:80px auto 0;
    }
}