.inner {
    padding: 0 32px;
}

.detail {
    height: 80vh;
}

.detail_movie {

    .poster {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        z-index: -999;
        overflow: hidden;


        img {
            width: 100%;
            height: 70vh;
            object-fit: cover;
            object-position: top;
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
        z-index: 0;
    }

    .poster_pc {
        display: none;
    }

    .inner {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        z-index: 11;
        color: #fff;

        .txt_group {
            margin-bottom: 50px;

            .name {
                font-size: 26px;
            }

            .sub_name {
                font-size: 18px;
                font-weight: 300;
                margin-top: 10px;
            }

        }

        .txt_group_detail {
            font-size: 14px;

            .txt_conts_01 {
                margin-bottom: 30px;

                p {

                    span {
                        border: 1px solid #fff;
                        padding: 5px 10px;
                        border-radius: 20px;
                        margin-right: 5px;
                    }
                }
            }

            .txt_conts_02 {
                p {
                    margin: 10px 0;

                    span {}
                }

            }

            .txt_conts_03 {
                margin-top: 20px;
                display: grid;
                grid-template-columns: 50px;
                grid-template-areas:
                    'a aa'
                    'b bb'
                    'c cc';
                gap: 10px;
                line-height: 20px;


                .txt_1 {
                    grid-area: a;
                    font-weight: 300;
                }

                .txt_2 {
                    grid-area: aa;
                }

                .txt_3 {
                    grid-area: b;
                    font-weight: 300;

                }

                .txt_4 {
                    grid-area: bb;
                }

                .txt_5 {
                    grid-area: c;
                    font-weight: 300;

                }

                .txt_6 {
                    grid-area: cc;
                }

            }
        }

        .btn {
            margin-top: 30px;
        }
    }

}

@media screen and (min-width : 768px) {



    .detail_movie {
        .poster {
            img {
                height: 100vh;
                object-fit: cover;
                object-position: top;
            }
        }
    }

}


@media screen and (min-width : 1024px) {

    .inner {
        padding: 0;
    }

    .detail {
        height: 100vh;
    }

    .detail_movie {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        .poster {}


        .poster_pc {
            display: block;
            position: absolute;
            top: 20%; //55%에서 20%로 수정 
            left: 50%;
            z-index: 2;
            width: 1024px;
            transform: translate(-50%, 0%); // -50% -50%에서 -50% 0 으로 수정

            img {
                width: 40%;
                height: auto;
            }
        }

        .inner {
            top: 22%;
            left: 48%;

            .txt_group {

                .name {
                    font-size: 45px;
                }

                .sub_name {
                    font-size: 30px;

                }

            }

            .txt_group_detail {
                font-size: 18px;

                .txt_conts_01 {

                    p {

                        span {
                            padding: 5px 20px;

                        }
                    }
                }

                .txt_conts_02 {
                    margin: 40px 0;

                    p {
                        margin: 15px 0;

                        span {}
                    }

                }

                .txt_conts_03 {
                    grid-template-columns: 60px;
                    gap: 15px;
                }
            }

            .btn {
                width: 400px;
                height: 52px;
                margin-top: 40px;
                background-color: transparent;

                &:hover {
                    background-color: var(--mov_pink);
                }

            }
        }
    }


}