header {
    * {
        color: #fff;
    }

    &.on {
        background-color: var(--mov_black);
    }

    form {
        margin-right: 53px;
        position: relative;
        transform: translateY(2px);

        img {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    height:80px;
    background-color: transparent;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 31px;
    position: absolute;
    z-index: 999;
    top:0;
    left:0;
    right:0;

    // gap:90px;
    h1 {
        font-size: 0;
    }

    .menu_btn {
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translateY(-40%);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 0;
        width: 23px;
        height: 18px;

        &::before,
        &::after {
            content: '';
            height: 2px;
            background-color: #fff;
        }

        span {
            background-color: #fff;
            height: 2px;
        }

        &.on {
            justify-content: center;

            &::before {
                transform: rotate(45deg) translateX(1px);
            }

            &::after {
                transform: rotate(-45deg) translateX(1px);
            }

            span {
                display: none;
            }
        }
    }

    .menu {
        display: none;

        nav {
            display: flex;
            align-items: center;

            form {
                input {
                    background-color: transparent;
                    border: 1px solid #fff;
                    width: 180px;
                    height: 34px;
                    border-radius: 15px;
                    padding: 0 35px 0 15px;
                }

                input:focus {
                    border: 1px solid var(--mov_pink);
                }
            }

            a {
                color: #fff;
                font-weight: 300;

                +a {
                    margin-left: 40px;
                }
            }
        }

        .search_board {
            display: none;
        }
    }

    .sub_menu {
        display: none;

        &.on {
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            z-index: 0;
            top: 80px;
            background-color: var(--mov_black);
            padding: 42px 32px;

            form {
                max-width: 1024px;
                margin: 0;

                input {
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid white;
                    color: var(--mov_gray);
                    background-color: var(--mov_black);
                    padding: 7px 5px;
                }

                img {
                    right: 5px;
                }
            }

            .search_record {
                margin: 15px 0 44px;
                display: flex;
                gap: 7px;
                flex-wrap: wrap;

                p {
                    border: 1px solid #4c4c4c;
                    padding: 3px 10px;
                    border-radius: 15px;
                    font-size: 14px;
                    color: var(--mov_pink);
                    font-weight: 300;
                }
            }

            .linked {
                >a {
                    display: block;
                    font-size: 20px;

                    +a {
                        margin-top: 25px;
                    }
                }
            }

            .search_board {
                margin-top: 50px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 20px 30px;
            }
        }

    }
}


@media screen and (min-width : 1024px) {
    header {
        .menu_btn {
            display: none;
        }

        .menu {
            display: block;

            .search_board {
                display: none;

                &.active {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 30px;
                    background: var(--mov_black);
                    padding: 100px 100px 50px;
                    border-bottom: 1px solid var(--mov_pink);

                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                    z-index: -1;

                    .searchEl_title {
                        text-align: center;
                    }
                }
            }
        }
    }
}

.search_board {
    .searchEl {
        width: 200px;

        >img {
            width: 100%;
            object-fit: cover;
        }

        .searchEl_title {
            margin-top: 10px;
            font-weight: 300;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}