header {
    * {
        color: #fff;
    }
    &.on{
        background-color: var(--mov_black);
    }
    form {
        margin-right: 53px;
        position: relative;
        transform: translateY(2px);

        img {
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    height:80px;
    background-color: transparent;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 31px;
    position: absolute;
    z-index: 999;
    top:0;
    left:0;
    right:0;

    // gap:90px;
    h1 {
        font-size: 0;
    }

    .menu_btn {
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translateY(-40%);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 0;
        width: 23px;
        height: 18px;

        &::before,
        &::after {
            content: '';
            height: 2px;
            background-color: #fff;
        }

        span {
            background-color: #fff;
            height: 2px;
        }
        &.on{
            justify-content: center;
            &::before{
                transform: rotate(45deg) translateX(1px);
            }
            &::after{
                transform: rotate(-45deg) translateX(1px);
            }
            span{
                display:none;
            }
        }
    }

    .menu {
        display: none;

        nav {
            display: flex;
            align-items: center;

            form {
                input {
                    background-color: black;
                    border: 1px solid #fff;
                    width: 200px;
                    height: 34px;
                    border-radius: 15px;
                    padding: 0 35px 0 15px;
                }
            }

            a {
                color: #fff;
                font-weight: 300;
                +a {
                    margin-left: 40px;
                }
            }
        }
    }

    .sub_menu {
        display: none;
        &.on {
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            z-index: 0;
            top: 80px;
            height: 350px;
            background-color: var(--mov_black);
            padding: 42px 32px 0;

            form {
                max-width: 1024px;
                margin:0;
                input {
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid white;
                    color: var(--mov_gray);
                    background-color: var(--mov_black);
                    padding: 7px 5px;
                }

                img {
                    right: 5px;
                }
            }

            .search_record {
                margin: 15px 0 44px;
                display: flex;
                gap: 7px;
                flex-wrap: wrap;

                p {
                    border: 1px solid #4c4c4c;
                    padding: 3px 10px;
                    border-radius: 15px;
                    font-size: 14px;
                    color: var(--mov_pink);
                    font-weight: 300;
                }
            }

            .linked {
                >a {
                    display: block;
                    font-size: 20px;
                    +a {
                        margin-top: 25px;
                    }
                }
            }

        }

    }
}


@media screen and (min-width : 1024px) {
    header {
        .menu_btn {
            display: none;
        }

        .menu {
            display: block;
        }
    }
}