.join_membership{
    &.success{
        display:none;
    }
    display:block;
    text-align: center;
    margin-top: 177px;
    padding:0 32px;
    h2{
        font-size: 26px;
    }
    input{
        width:100%;
        border-radius:5px;
        background-color: var(--mov_gray);
        height:55px;
        padding:15px 0 15px 16px;
        font-size: 18px;
        color:white;
        border:none;
        margin-top: 10px;
    }
    .check{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 61px;
        p{
            font-size: 18px;
            font-weight: 300;
        }
        
        >.btn{
            border:none;
            width:120px;
            height:45px;
            cursor: pointer;
            font-size: 18px;
            font-weight: 600;
            &:hover{
                background-color: var(--mov_pink);
                color:white;
            }
        }
        +.check{
            margin-top: 23px;
            p{
                padding:0;
            }
        }
        .error{
            display:none;
            font-size: 14px;
            font-weight: 300;
            color:var(--mov_pink);
            &.on{
                display:inline;
            }
        }
    }
    >.btn{
        width:100%;
        margin-top: 30px;
        border:none;
        cursor: pointer;
        background-color: (var(--mov_pink));
        color:white;
        font-size: 18px;
    }
    
}
.complete{
    &.no{
        display:none;
    }
    display:block;
    text-align: center;
    padding:0 32px;
    margin-top: 177px;
    h2{
        font-size: 26px;
    }
    img{
        margin-top: 40px;
    }
    p{
        margin-top: 51px;
    }
    .btn{
        width:100%;
        background-color: var(--mov_pink);
        color:white;
        margin-top: 58px;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
    }
}
@media screen and (min-width : 768px) {
    .join_membership{
        padding:0;
        max-width: 628px;
        margin:177px auto 0;
        .check{
            text-align: right;
            flex-wrap: nowrap;
            justify-content: start;
            align-items: center;
            gap:10px;
            p{
                order:0;
                flex-shrink: 0;
                width:74px;
            }
            .btn{
                order:2;
                height:55px;
                flex-shrink: 0;
            }
            input{
                order:1;
                // flex-grow: 1;
                width:400px;
                margin:0;
            }
        }
        >.btn{
            width:537px;
            // max-width: 626px;
            margin:113px auto 0;
        }
    }
    .complete{
        .btn{
            width:470px;
            margin:58px auto 0;
        }
    }
}