.inner {
    padding: 0 32px;
}


main {
    width: 100%;

    .main_movie {

        .poster {
            width: 100%;
            height: auto;
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            z-index: -999;
            overflow: hidden;


            img {
                width: 100%;
                height: 100%;
                object-fit: contain;

            }
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
            z-index: 0;
        }

        .poster_pc {
            display: none;
        }

        .inner {
            position: absolute;
            bottom: 5%;
            left: 0;
            right: 0;
            z-index: 11;
            color: #fff;

            .txt_group {
                margin-top: 380px;

                .name {
                    font-size: 26px;
                }

                .sub_name {
                    font-size: 18px;
                    font-weight: 300;
                    margin: 5px 0 15px;
                }

                .txt_conts {
                    h4 {
                        display: none;
                    }

                    .reserve_rate {
                        display: inline-block;
                        background-color: var(--mov_pink);
                        padding: 5px 12px;
                        margin-right: 10px;
                        border-radius: 5px;

                        h4 {}

                        .star_icon {
                            vertical-align: bottom;
                        }

                        p {
                            display: inline;
                            font-weight: 300;
                            margin-left: 5px;

                            span {
                                display: none;
                            }
                        }
                    }

                    .open {
                        display: none;
                    }

                    .audience {
                        display: inline-block;
                        background-color: #fff;
                        padding: 5px 12px;
                        border-radius: 5px;


                        h4 {}

                        .person_icon {
                            vertical-align: bottom;
                        }

                        p {
                            display: inline;
                            color: var(--mov_black);
                            font-weight: 300;
                            margin-left: 5px;


                            span {
                                font-weight: 300;
                            }
                        }
                    }
                }
            }

        }




    }

    .box_office {
        margin-top: 80px;

        .inner {
            h2 {
                color: #fff;
                margin-bottom: 20px;
                font-size: 20px;
            }

            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    position: relative;
                    cursor: pointer;


                    &::before {
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        z-index: 1;
                        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

                    }

                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 10px;
                    }

                    .rank {
                        position: absolute;
                        bottom: 10%;
                        right: 10%;
                        font-family: "Noto Serif KR", serif;
                        font-size: 40px;
                        z-index: 2;
                    }

                    .list_btn {
                        display: none;

                        &.active {
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.5);
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                            position: absolute;
                            top: 0;
                            z-index: 2;
                            cursor: pointer;
                        }


                        .btn {
                            width: 170px;
                        }

                        .btn:first-of-type {
                            background-color: #fff;
                            color: var(--mov_pink);
                            border: none;
                        }
                    }
                }





            }
        }
    }

    .trailer {
        margin-top: 80px;

        .inner {
            h2 {
                margin-bottom: 20px;
                font-size: 20px;
            }

            ul {
                li {
                    .view_box {
                        position: relative;

                        .thumb_box {
                            position: relative;

                            img {
                                width: 100%;
                                height: auto;
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                width: 100%;
                                height: 100%;
                                background-color: rgba(0, 0, 0, 0.5);
                                z-index: 1;
                            }

                        }

                        .play_box {
                            position: absolute;
                            transform: translate(-50%, -50%);
                            top: 40%;
                            left: 50%;
                            z-index: 2;

                            img {
                                width: 100%;
                            }
                        }

                        .thumb_title {
                            padding: 10px;
                            color: #fff;
                            line-height: 20px;
                        }
                    }

                    .check_box {
                        width: 100%;
                        height: 180px;
                        background-color: rgba(0, 0, 0, 0.5);
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .check_inner {
                            text-align: center;
                            line-height: 20px;
                            color: var(--mov_gray);

                            img {
                                width: 100%;
                            }

                            p {
                                padding-top: 10px;
                            }
                        }
                    }
                }



            }
        }
    }

    .notice {
        margin-top: 80px;
        background-color: #000;
        padding: 20px 0;

        .inner {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px 0;

            .swiper {
                height: 20px;
                margin: 0;

                .swiper-slide {
                    width: 100%;
                }
            }
        }
    }
}



.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (min-width : 768px) {
    main {
        .main_movie {
            .poster {

                img {
                    height: 100vh;
                    object-fit: cover;
                    object-position: top;
                }
            }
        }

        .box_office {

            .inner {
                ul {
                    li {
                        .rank {
                            font-size: 50px;

                        }
                    }
                }
            }
        }

        .trailer {
            ul {
                li {
                    .view_box {
                        .thumb_box {}

                        .play_box {}

                        .thumb_title {}
                    }

                    .check_box {
                        .check_inner {
                            p {}
                        }
                    }
                }
            }
        }

        .notice {
            .inner {
                flex-direction: row;
                gap: 20px;
            }
        }
    }
}

@media screen and (min-width : 1024px) {


    .inner {
        padding: 0;
    }

    main {
        .main_movie {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            .poster {}

            .overlay {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
            }

            .poster_pc {
                display: block;
                position: absolute;
                top: 20%;
                left: 50%;
                z-index: 2;
                width: 1024px;
                transform: translate(-50%, 0%);

                img {
                    width: 40%;
                    height: auto;
                }
            }

            .inner {
                top: 22%;
                left: 48%;

                .txt_group {
                    margin-top: 0;

                    .name {
                        font-size: 45px;
                    }

                    .sub_name {
                        font-size: 30px;
                        margin: 20px 0;

                    }

                    .txt_conts {
                        margin-top: 330px;
                        display: flex;
                        align-items: center;
                        gap: 10%;


                        h4 {
                            display: block;
                            font-size: 20px;
                            font-weight: 300;
                            margin-bottom: 10px;
                            text-align: center;
                        }

                        .reserve_rate {
                            background-color: transparent;


                            h4 {}

                            p {
                                text-align: center;
                                font-family: "Noto Serif KR", serif;
                                font-size: 45px;

                                span {
                                    display: inline-block;
                                    font-size: 20px;
                                    font-weight: 300;
                                }
                            }

                            >img {
                                display: none;
                            }
                        }

                        .open {
                            display: block;
                            background-color: transparent;

                            h4 {}

                            p {
                                display: block;
                                text-align: center;
                                margin: 0;
                                font-family: "Noto Serif KR", serif;
                                font-size: 45px;
                                font-weight: 300;
                            }

                            >img {
                                display: none;
                            }
                        }

                        .audience {
                            background-color: transparent;

                            p {
                                display: block;
                                text-align: center;
                                margin: 0;
                                color: #fff;
                                font-family: "Noto Serif KR", serif;
                                font-size: 45px;

                                span {
                                    font-size: 20px;
                                    font-weight: 300;
                                }

                            }

                            >img {
                                display: none;
                            }
                        }


                    }
                }
            }

        }

        .box_office {
            margin-top: 850px;

            .inner {
                ul {
                    li {
                        .rank {}
                    }
                }
            }
        }

        .trailer {
            .inner {
                h2 {
                    margin-bottom: 20px;
                    font-size: 20px;
                }

                ul {
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    gap: 20px;

                    li {
                        width: 330px;

                        .view_box {
                            .thumb_box {


                                img {}
                            }

                            .play_box {}

                            .thumb_title {}
                        }
                    }
                }
            }
        }

        .notice {
            padding: 20px 50px;

            .inner {}
        }

    }
}