.mypage {
    margin-top: 177px;
    padding: 0 32px;

    >h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 26px;
        gap: 22px;

        img {
            cursor: pointer;
            margin-left: 22px;
        }
    }

    .ticket {
        &.on{
            display:block;
        }
        max-width: 540px;
        margin:42px auto 0;
        display:none;
        height: 450px;
        background-color: white;
        color: black;
        display: none;
        padding:3px;
        border-radius: 10px;
        text-align: center;
        font-size: 18px;
        .movie_info{
            height:140px;
            background-color: skyblue;
            border-radius: 10px 10px 0 0;
            padding-top: 28px;
            color:white;
            .ticket_num{
                font-weight: 300;
            }
            .title_ko{
                margin-top: 32px;
                font-weight: 600;
            }
            .title_en{
                font-size: 14px;
                font-weight: 300;
                margin-top: 5px;
            }
        }
        .date{
            margin-top: 26px;
            font-weight: 300;
        }
        .theater{
            display:flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            margin-top: 17px;
            p{font-weight: 300;}
            .time{font-size: 26px;}
        }
        .notify{
            padding:21px;
            border-top:1px dotted black;
            font-size: 12px;
            font-weight: 300;
        }
    }

    .no_ticket {
        &.on{
            display:block;
        }
        max-width: 540px;
        background-color: transparent;
        display:none;
        height:450px;
        align-content: center;
        text-align: center;
        border:5px solid white;
        border-radius: 10px;
        margin:42px auto 0;
        img{
            display:block;
            margin: 0 auto 13px;
        }
    }

    @media screen and (min-width : 768px) {
        .ticket{
            height:655px;
            font-size: 30px;
            .movie_info{
                padding-top: 50px;
                height:270px;
                font-size: 20px;
                .title_ko{
                    margin-top: 60px;
                    font-size: 50px;
                }
                .title_en{
                    font-size: 20px;
                    font-weight: 600;
                }
            }
            .theater_space{
                display:flex;
                justify-content: center;
                align-items: center;
                gap:19px;
                margin-bottom: 39px;
                .theater{
                    flex-direction: column;
                    gap:0;
                    align-items: end;
                    margin:0;
                    .time{
                        font-size: 60px;
                    }
                }
            }
            .notify{
                font-size: 15px;
                padding: 50px;
                font-weight: 600;
            }
            
        }
    }
}