.mypage {
    margin: 150px 0 20px;
    padding: 0 32px;

    >h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        gap: 22px;

        img {
            cursor: pointer;
        }
    }

    .ticket {
        &.on {
            display: block;
        }

        max-width: 540px;
        margin:42px auto 0;
        display:none;
        height: auto;
        background-color: white;
        color: black;
        display: none;
        padding:3px;
        border-radius: 10px;
        text-align: center;
        font-size: 18px;

        .movie_info {
            height: 130px;
            border-radius: 10px 10px 0 0;
            color: white;
            align-content: center;
            position: relative;

            .overlay {
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.5);
                border-radius: 10px 10px 0 0;
                z-index: 1;
            }

            .ticket_box {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: 2;
                transform: translate(0, 50%);

                .ticket_num {
                    font-weight: 300;
                }

                .title_ko {
                    font-weight: 600;
                    margin: 10px 0;
                }
            }


        }

        .date {
            margin-top: 26px;
            font-weight: 300;
        }

        .theater {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            margin: 10px 0;

            p {
                font-weight: 300;
            }

            .time {
                font-size: 26px;
            }
        }

        .notify {
            padding: 21px;
            border-top: 1px dotted black;
            font-size: 12px;
            font-weight: 300;

            br {
                display: none;
            }
        }

        .btn {
            margin: 20px auto;
            background-color: var(--mov_light_gray);
            color: #fff;
            border: none;
            width: 50%;
            height: 35px;
            font-size: 14px;
            cursor: pointer;
        }
    }

    .no_ticket {
        &.on {
            display: block;
        }

        max-width: 540px;
        background-color: transparent;
        display:none;
        height:450px;
        align-content: center;
        text-align: center;
        border:5px solid white;
        border-radius: 10px;
        margin:42px auto 0;

        img {
            display: block;
            margin: 0 auto 20px;
        }
    }

    @media screen and (min-width : 768px) {
        .ticket {
            .movie_info {
                height: 180px;

                .ticket_box {
                    top: 30px;

                    .ticket_num {}

                    .title_ko {}

                }
            }

            .theater_space {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                margin: 15px 0;

                .theater {
                    flex-direction: column;
                    gap: 5px;
                    align-items: end;

                    .time {
                        font-size: 40px;
                    }
                }
            }

            .notify {
                font-size: 15px;
                font-weight: 600;
                line-height: 20px;

                br {
                    display: block;
                }
            }

            .btn {}

        }
    }
}