.container {
    width: 100%;
    overflow: hidden;

    .container_inner {
        display: flex;
        justify-content: center;
        align-items: center;

        .reserve_page {
            // width: 100%;
            flex-shrink: 0;
        }
    }
}