.setting_page {
    margin: 150px 0;
    padding: 0 32px;
    text-align: center;

    h2 {
        font-size: 22px;
        position: relative;
        margin-bottom: 50px;

        img {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 10%;
            transform: translateY(-10%);
        }
    }

    .btn {
        cursor: pointer;
        color: white;
        font-size: 18px;
        font-weight: 600;
        background-color: var(--mov_gray);
        width: 80%;
        border: none;
        margin: 20px auto;
    }


}